.button {
    width: 100%;
    min-width: 10rem;
    height: 5rem;
    border-radius: 0.5rem;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.blue {
    background-color: #3333cc;
}
.grey {
    background-color: #00000070;
}